.sidebar{
  background-color: #1f2837;
}

.card {
	
	background: #000;
}
.card .overlay {
	background: linear-gradient(
		120.55deg,
		rgba(39, 39, 39, 0.38) 0%,
		rgba(39, 39, 39, 0.2394) 100%
	);
}

